<form method="post" enctype="multipart/form-data">
    <h3>Сумма каждого второго нечетного числа</h3>
    <div>
        <label>Введите числа через пробел</label>
        <input name="s" required pattern="^[0-9\s-]+$" />
    </div>
    <br />
    <button class="btn btn-dark" type="submit" asp-controller="home" asp-action="getsum">Вычислить</button>
</form>
